<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pjwstk.rehapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rh_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/RHTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_home_activity" >
        </activity>
        <activity
            android:name=".ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:parentActivityName="com.example.RehApp.HomeActivity" >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:parentActivityName="com.example.RehApp.HomeActivity" >
        </activity>
        <activity
            android:name=".NotesActivity"
            android:label="@string/title_activity_doctor_notes"
            android:parentActivityName="com.example.HomeActivity" >
        </activity>
        <activity
            android:name=".PhotosActivity"
            android:label="@string/title_activity_photos"
            android:parentActivityName="com.example.HomeActivity" >
        </activity>
        <activity
            android:name=".SingleExerciseActivity"
            android:label="@string/title_activity_single_ex"
            android:parentActivityName="com.example.HomeActivity" >
        </activity>
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
    </application>

</manifest>
